<div class="crit-splash-container {{typeClass}}">
    <!-- Título Dinâmico (Duality vs Adversary) -->
    <div class="crit-title">
        {{critTitle}}
    </div>
    
    <!-- Nome de quem rolou -->
    {{#if alias}}
    <div class="crit-alias">
        {{alias}}
    </div>
    {{/if}}
</div>