<div class="d-flex flex-column gap-2 dh-crit-sound-config">
    <p class="notes"><i class="fas fa-info-circle"></i> Configure sound effects for critical hits. To adjust the volume, each user must customize the sound by going to the Playlists directory and adjusting the "Interface" slider.</p>

    <div class="form-group sound-enable-row">
        <label><i class="fas fa-volume-up"></i> Enable Sound</label>
        <div class="form-fields">
            <label class="slide-toggle">
                <input type="checkbox" name="enabled" {{#if config.enabled}}checked{{/if}}>
                <span class="slider"></span>
            </label>
            <span class="hint">Enable sound for critical hits.</span>
        </div>
    </div>

    <div class="sound-group" {{#unless config.enabled}}style="display:none"{{/unless}}>
        <div class="form-group">
            <label>Sound Path</label>
            <div class="form-fields">
                <file-picker style="flex: 1;" type="audio" name="soundPath" value="{{config.soundPath}}" placeholder="modules/daggerheart-critical/assets/sfx/pc-orchestral-win.mp3"></file-picker>
            </div>
        </div>
        <p class="field-hint">Audio played when a critical occurs.</p>
    </div>

    <div class="form-footer">
        <button type="submit">
            <i class="fas fa-save"></i> Save Changes
        </button>
    </div>
</div>
